.form-control{
    width: 50%;
    opacity: 0.7;
    background: none;
    padding: 3px 1px;
    margin: auto;
    box-sizing: border-box;
    border: none;
    border-radius:0.5px;
    color: #f9f6f4;
    text-align: center;
}