<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/styles.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>input</title>

</head>
<body>
    <h1><center>moresencode</center></h1>
    <form th:action="@{/}" th:object="${message}" method="post">
        <input type="text" class="form-control" th:field="*{text}" placeholder="Enter sentence" />
        <center><h2><span th:text="${morsecode}"></span></h2></center>
        <center> <button class = "btn btn-primary" type = "submit">Encipher</button></center>
    </form>

</body>
</html>